.education {
  margin: 10px;
  background-color: white;
  box-shadow: 6px 6px 0px -1px #f8f8f8;
  border-radius: 10px;
  width: 40%;
  margin-left: 20%;
}

.education_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}

.education_top h3 {
  font-size: 1.2rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.education_list {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.education_item {
  margin-bottom: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #f8f8f8;
}

.education_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.education_item ul:first-child {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 2px;
}

.education_item ul:nth-child(2) {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: medium;
}
.education_item ul:nth-child(3) {
  font-size: medium;
}
.education_item input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

.education_buttons {
  display: flex;
  justify-content: flex-end;
}

.education_item:hover {
  background-color: #f8f8f8;
}
